body {
    font-family: 'Inter', sans-serif;
}

.text-purple {
    color: #8800AA;
}

.bg-purple {
    background-color: #8800AA;
}

.bg-grey {
    background-color: #3A3A3A;
}

.mh-100 {
    max-height: 100%;
}

.section-divider {
    background: linear-gradient(to left, #FF0066 0% 50%, #FF6600 50% 100%);
    max-width: 10rem;
    margin-top: .8rem;
    padding-top: 5px;
    opacity: 100;
}

.h-angle-bottom-purple{
    background-image:-o-linear-gradient(88deg, transparent 49%, #8800AA 50%);
    background-image:linear-gradient(2deg,  transparent 49%, #8800AA 50%);
    height:55px;
}

#flame {
    max-width: 10rem;
    max-height: 10rem;
    z-index: 999;
    position: relative;
    top: -5.5rem;
    left: 1.5rem;
    right: 0rem;
}

.outer-border {
    border: solid 3px #8800AA;
}

.box-shadow {
    box-shadow: 0px 11px 50px rgba(43, 43, 43, 0.5);
}

.btn-base {
    padding: .8rem 3.1rem;
    border: 0;
    border-radius: 1px;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
}

.btn-cta-solid {
    color: #FF0066;
    background: transparent;
    border: 2px solid #FF0066;
    box-shadow: 4px 3px #ff0066;
}

.btn-cta-solid:hover, .btn-cta-solid:focus, .btn-cta-solid:active, .btn-cta-solid:active:focus,
.btn-cta-solid.btn:not(:disabled):not(.disabled):active,
.btn-cta-solid.btn:not(:disabled):not(.disabled):active:focus {
    background: #FF0066;
    outline: 0;
    color: #fcfcfc;
    border: 2px solid #FF0066;
    box-shadow: none;
}

.navbar .navbar-toggler {
    padding: 0.5rem 1rem;
    color: #8800AA;
    border: 2px solid #8800AA;
    fill: #8800AA;
  }

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(136, 0, 170, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-nav .nav-link {
    color: #8800AA;
    padding: 0rem 1rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #5f0077;
}

.footer-links {
    font-weight: bold;
    list-style: none;
    margin-top: 1rem;
}

.footer-links li {
    display: inline-block;
    margin: .3rem .9rem;
}

.footer-links li a {
    text-decoration: none;
    color:#fff;
}

.footer-links li a:hover {
    color: #ccc;
}

.footer-text {
    color: #d6d6d6;
}

.footer-text a {
    color: #d6d6d6;
}


.footer-text a:hover {
    color: #fff;
}

