{% macro footer() %}
<footer class="footer container-fluid">
    <div class="row">
      <a class="navbar-brand text-center text-decoration-none" href="{{ config.base_url | safe }}">
        <img class="d-block mx-auto" src="{{ get_url(path='flameshot-icon.svg') }}" alt="logo" width="50" height="50">
        <span class="text-white fs-3 fw-bold mx-auto mt-5">Flameshot</span>
      </a>
    </div>
    <div class="row mx-auto text-center">
      <ul class="footer-links mx-auto">
        <li>
          <a href="{{ config.base_url | safe }}#features">Features</a>
        </li>
        <li>
          <a href="{{ config.base_url | safe }}#download">Download</a>
        </li>
        <li>
          <a href="https://github.com/flameshot-org">Contribute</a>
        </li>
        <li>
          <a href="{{ get_url(path='/docs/', trailing_slash=true) | safe }}">Docs</a>
        </li>
      </ul>
    </div>
    <div class="row mx-auto text-center mt-4">
      <div class="col-10 mx-auto">
        <a class="d-inline-block m-1" href="https://github.com/flameshot-org"><img class="footer-icon" src="{{ get_url(path='img/icons/github.svg') }}" alt="github logo." width="26" height="26"></a>
        <a class="d-inline-block m-1" href="https://fosstodon.org/@flameshot"><img class="footer-icon" src="{{ get_url(path='img/icons/mastodon.svg') }}" alt="mastodon logo." width="26" height="26"></a>
        <a class="d-inline-block m-1" href="https://matrix.to/#/#Flameshot:feneas.org"><img class="footer-icon" src="{{ get_url(path='img/icons/matrix.svg') }}" alt="matrix logo." width="26" height="26"></a>
        <a class="d-inline-block m-1" href="https://flameshotworkspace.slack.com/"><img class="footer-icon" src="{{ get_url(path='img/icons/slack.svg') }}" alt="slack logo." width="26" height="26"></a>
      </div>
      <small class="text-white mt-3">Copyright &copy; 2017-2021 Flameshot contributors &bullet; Site design by <a class="cs-link" href="https://github.com/Correct-Syntax">Correct Syntax</a></small>
    </div>
</footer>
{% endmacro %}
