<!DOCTYPE html>
<html lang="{{ config.extra.language_code | default(value="en-US") }}">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{{<head.resource />}}
{{<head.stylesheet />}}

{% block seo %}
  {% if config.extra.title_separator %}
    {% set title_separator = " " ~ config.extra.title_separator ~ " " %}
  {% else %}
    {% set title_separator = " | " %}
  {% endif %}
{% endblock seo %}

{{<head.favicons config={config} />}}

{% block math %}
  {{<math config={config} />}}
{% endblock math %}

</head>
{% block body %}
  {% set page_class="home" %}
{% endblock body %}

<body class="{{ page_class }}">
  {% block header %}
  {# check this #}
    {{ <header.current_section current_section={current_section} config={config} />}}
  {% endblock header %}

  {% block content %}{% endblock content %}

  {% block footer %}
    {{ <footer config={config} /> }}
  {% endblock footer %}

  {{ <javascript config={config} /> }}
</body>
</html>
