{% extends "base.html" %}

{% block seo %}
  {{ super() }}

  {% if config.title %}
    {% set title = config.title %}
  {% else %}
    {% set title = "" %}
  {% endif %}

  {% if config.extra.title_addition and title %}
    {% set title_addition = title_separator ~ config.extra.title_addition %}
  {% elif config.extra.title_addition %}
    {% set title_addition = config.extra.title_addition %}
  {% else %}
    {% set title_addition = "" %}
  {% endif %}

  {% set description = config.description %}

  {{ macros_head::seo(title=title, title_addition=title_addition, description=description, is_home=true) }}
{% endblock seo %}

{% block content %}
<div class="wrap container-fluid">
  <div class="content">
    <section class="section mt-n3 pb-3">
        <div class="row justify-content-center">
          <div class="col-12 col-md-7 px-0 px-md-4">
            <h1 class="text-purple display-5 display-lg-3 fw-bold">Powerful, yet simple to use open-source screenshot software.</h1>
            <div class="my-3">
              <a class="btn btn-cta-solid btn-lg" href="#download">Download</a>
            </div>
          </div>
          <div class="col-12 col-md-5 pr-0 pr-md-4 pt-2">
            <div class="row">
              <img class="img-fluid px-0 box-shadow" src="img/flameshot-hero.jpg" alt="flameshot hero.">
              <img id="flame" class="ms-auto" src="img/flameshot-flame.svg" alt="">
            </div>
          </div>
        </div>
    </section>
  </div>
</div>
<!-- Intro -->
<section class="bg-purple py-5">
  <div class="container-fluid">
    <div class="row justify-content-center mx-auto my-5">
      <div class="col-lg-5 pe-lg-5">
        <img class="img-fluid px-0 box-shadow" src="img/flameshot-demo.gif" loading="lazy" alt="flameshot demo.">
      </div>
      <div class="col-lg-7">
        <h2 class="text-white fw-bold display-6 mt-5 mt-lg-0">Free & open source screenshot software</h2>
        <p class="text-white">Flameshot is a free and open-source, cross-platform tool to take screenshots with many built-in features to save you time. </p>
        <img class="img-fluid" src="img/gpl-v3-logo.svg" loading="lazy" alt="gpl v3 license logo.">
        <img class="img-fluid" src="img/osi-logo.svg" loading="lazy" alt="osi logo.">
      </div>
    </div>
  </div>
</section>
<div class="h-angle-bottom-purple"></div>
<!-- Features -->
<section id="features" class="py-5">
  <div class="container-fluid">
    <div class="row text-center">
      <h4 class="text-purple fw-bold display-6 mt-4 mx-auto">Flameshot Features</h4>
      <hr class="section-divider mx-auto">
    </div>
    <div class="row justify-content-center my-5 py-3 mx-auto">
      <div class="col-12 col-lg-7 my-auto pe-lg-5 pb-5 pb-lg-0">
        <h5 class="text-purple fw-bold fs-4">Highly customizable</h5>
        <p class="text-dark">Customize the interface color, button selection, keyboard shortcuts, how images are saved, and more with Flameshot's accessible configuration dialog.</p>
      </div>
      <div class="col-12 col-lg-5">
        <img class="img-fluid box-shadow mh-100" src="img/customizable-appearance.jpg" loading="lazy" alt="customizable appearance">
      </div>
    </div>
    <div class="row justify-content-center my-5 py-3 mx-auto">
      <div class="col-12 col-lg-5">
        <img class="img-fluid box-shadow mh-100" src="img/in-app-screenshot-editing.jpg" loading="lazy" alt="in app screenshot editing">
      </div>
      <div class="col-12 col-lg-7 my-auto pe-lg-5 pb-5 pb-lg-0">
        <h5 class="text-purple fw-bold fs-4">In-app screenshot editing</h5>
        <p class="text-dark">You can choose to add an arrow mark, highlight text, blur a section (blur or pixelate an area), add a text, draw something, add a rectangular/circular shaped border, add an incrementing counter number, and add a solid color box with Flameshot's built-in editing tools.</p>
      </div>
    </div>
    <div class="row justify-content-center my-5 py-3 mx-auto">
      <div class="col-12 col-lg-7 my-auto pe-lg-5 pb-5 pb-lg-0">
        <h5 class="text-purple fw-bold fs-4">Simple &amp; intuitive</h5>
        <p class="text-dark">Using Flameshot is as simple as launching, dragging the selection box to cover the area you want to capture, making annotations as needed in on-screen and saving the shot to your computer, all with a very simple and straightforward interface.</p>
      </div>
      <div class="col-12 col-lg-5">
        <img class="img-fluid box-shadow mh-100" src="img/simple-and-easy-to-use.jpg" loading="lazy" alt="simple and easy to use">
      </div>
    </div>
    <div class="row justify-content-center my-5 py-3 mx-auto">
      <div class="col-12 col-lg-5">
        <img class="img-fluid box-shadow mh-100" src="img/upload-to-online-platforms.jpg" loading="lazy" alt="upload to online platforms">
      </div>
      <div class="col-12 col-lg-7 my-auto pe-lg-5 pb-5 pb-lg-0">
        <h5 class="text-purple fw-bold fs-4">Upload to online platforms</h5>
        <p class="text-dark">Flameshot allows users to simply upload their screenshots directly to the cloud in order to easily share it with others. You can upload your image directly to <a href="https://imgur.com/">Imgur</a> with a single click and share the URL with others. </p>
      </div>
    </div>
    <div class="row justify-content-center my-5 py-3 mx-auto">
      <div class="col-12 col-lg-7 my-auto pe-lg-5 pb-5 pb-lg-0">
        <h5 class="text-purple fw-bold fs-4">Command-line interface (CLI)</h5>
        <p class="text-dark">Flameshot has several commands you can use in the terminal without launching the GUI via a command line interface. The command line interface lets you script Flameshot and use it as the subject of key binds.</p>
      </div>
      <div class="col-12 col-lg-5">
        <img class="img-fluid box-shadow mh-100" src="img/cli.jpg" loading="lazy" alt="command line interface">
      </div>
    </div>

  </div>
</section>


    <!-- Contribute -->
    <section id="contribute" class="col-12 pb-5">
        <div class="outer-border px-4 px-md-5 py-5 m-4 mx-3 mx-md-5">
          <div class="d-block d-lg-flex text-center col-lg-12 col-xl-10 mx-auto">
            <div class="p-2 d-block d-lg-flex flex-fill align-self-center align-items-center">
              <img class="d-block d-lg-inline-block mx-auto mx-lg-0" src="img/flameshot-icon.svg" alt="logo" width="50" height="50">
              <h5 class="text-purple fs-3 fw-bold d-block d-lg-inline-block mx-auto mx-lg-0 ms-0 ms-lg-3 my-4 my-lg-0">Contribute to Flameshot on Github</h5>
            </div>
            <div class="d-block d-md-flex justify-content-end p-2 flex-fill">
              <a class="btn-base btn-cta-solid btn-lg mx-auto mx-lg-0" href="#">Flameshot Github</a>
            </div>
          </div>
        </div>
      </section>





<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      {% if section.extra.list %}
        {% for val in section.extra.list %}
        <div class="col-lg-5">
          <h2 class="h4">{{ val.title }}</h2>
          <p>{{ val.content | safe }}</p>
        </div>
        {% endfor %}
      {% else %}
        <div class="col-lg-5">
          <h2 class="h4">Security aware</h2>
          <p>Get A+ scores on <a href="https://observatory.mozilla.org/analyze/doks.netlify.app">Mozilla Observatory</a> out of the box. Easily change the default Security Headers to suit your needs.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Fast by default ⚡️</h2>
          <p>Get 100 scores on <a href="https://googlechrome.github.io/lighthouse/viewer/?gist=7731347bb8ce999eff7428a8e763b637">Google Lighthouse</a> by default. Doks removes unused css, prefetches links, and lazy loads images.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">SEO-ready</h2>
          <p>Use sensible defaults for structured data, open graph, and Twitter cards. Or easily change the SEO settings to your liking.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Full text search</h2>
          <p>Search your Doks site with FlexSearch. Easily customize index settings and search options to your liking.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Page layouts</h2>
          <p>Build pages with a landing page, blog, or documentation layout. Add custom sections and components to suit your needs.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Dark mode</h2>
          <p>Switch to a low-light UI with the click of a button. Change colors with variables to match your branding.</p>
        </div>
      {% endif %}
    </div>
  </div>
</section>

<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9"></div>
  </div>
</section>
{% endblock content %}
